@import "../../../styles/imports";

.container {
  @include pageContentContainer();
}

.projects_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @include layout-vertical-padding();
  @include padding(19px null 16px);

  @include mq-laptop {
    @include padding(15px null 38px);
  }

  @include mq-tablet {
    @include padding(17px null 38px);
  }

  @include mq-smartphone {
    @include padding(13px null 15px);

  }

  .projects_list_item {



    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: $primary;


    flex: 0 0 100%;
    margin-bottom: 7px;
    border-bottom: 1px solid $divider-color;
    @include mq-gt-sm {
      flex: 0 0 49%;
      marign-bottom:0;
      border-bottom:none;


    }

    .projects_list_image {
      //@include responsive-image(auto);
      @include mq-property(height, 400px, 310px, 310px, 290px, 190px);


    }
    .projects_list_image_f {
      //@include responsive-image(auto);
      width:100%;
      //@include mq-property(height, 400px, 310px, 310px, 290px, 190px);


    }

    .projects_list_info_block {
      flex: 0 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      position: relative;

      padding-left: 0px;


      @include mq-laptop {
        padding-left: 0px;
      }

      @include mq-tablet {
        padding-left: 4px;
      }

      @include mq-smartphone {
        padding-left: 8px;
      }
      //background-color: lightgray;
    }

    .projects_list_info_name {
      flex: 1 1 auto;
      position: relative;
      font-weight: 900;
      max-width: 200px;
      overflow: hidden;
      white-space: nowrap;

      .projects_list_label_name {
        display: block;


        @include padding(16px null null 14px);
        font-size: 16px;
        line-height: 16px;

        @include mq-md {
          @include padding(19px null null 20px);
          font-size: 19px;
          line-height: 19px;
        }

        @include mq-lg {
          @include padding(30px null null 24px);
          font-size: 23px;
          line-height: 23px;
        }

        @include mq-xl {
          @include padding(27px null null 34px);
          font-size: 25px;
          line-height: 25px;
        }
      }
    }

    .projects_list_accent_line {
      background-color: $accent;

      @include position(absolute, 8px null null 0);

      @include mq-gt-md {
        @include position(absolute, 16px null null 0);
      }
    }

    .projects_list_triangle {

      @include triangle(59px 20px, $background-primary, up);

      @include position(absolute, -19px null null 48px);

      @include mq-laptop {
        left: 26px;
      }

      @include mq-tablet {
        left: 18px;
      }

      @include mq-smartphone {
        left: 18px;
      }
    }

    .projects_list_divider {
      flex: 1 1 auto;
    }

    .projects_list_info_surface {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      //margin-right: 17px;

      @include mq-portable {
        margin-right: 11px;
      }
    }

    .projects_list_info_price {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      //margin-right: 17px;

      @include mq-portable {
        margin-right: 11px;
      }
    }



    .projects_list_label {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 11px;
      line-height: 11px;
      margin-top: 15px;

      @include mq-portable {
        display: none;
      }
    }

    .projects_list_value {
      font-weight: 600;
      font-size: 18px;
      line-height: 18px;
      margin-top: 8px;
      margin-bottom: 16px;

      @include mq-laptop {
        margin-bottom: 10px;
      }

      @include mq-portable {
        font-size: 13px;
        line-height: 13px;
        margin-top: 18px;
        margin-bottom: 10px;
      }
    }
  }
}
