@import "../styles/normalize";
@import "../styles/fonts";
@import "../styles/spacing";
@import "../styles/layout/material-layout";
@import "../styles/hamburgers";
@import '../node_modules/react-id-swiper/src/styles/scss/swiper.scss';
@import '../styles/_variables';
@import '../styles/_responsive-mixins';

html {

  /* disables scrolling effects like bouncing*/
  height: 100%;
  width: 100%;

  //overflow: hidden;
  //@include mq-xs {
  //  overflow: hidden;
  //}
  //@include mq-sm {
  //  overflow: hidden;
  //}
  //@include mq-md {
  //  overflow: hidden;
  //}

  font-family: montserrat, Helvetica, sans-serif;
  color: $gray-dark;

}

body {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  //width: 100%;
  //max-width: 100%;
  //max-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a, a:visited {
  text-decoration: none;
  color: $gray-dark;
}

h1, h2, h3 {
  margin: 0;
}

p {
  white-space: pre-line;
  margin: 0;
}

input, textarea {
  border-radius: 0;
  -webkit-appearance: none;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
  border-width: 0;
  outline: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  background: none;

  &:focus {
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
  }
}

.accent-line {
  display: block;
  background-color: $accent;
  @include size(32px 4px);

  @include mq-laptop {
    @include size(22px 4px);
  }

  @include mq-tablet {
    @include size(16px 4px);
  }

  @include mq-smartphone {
    @include size(13px 4px);
  }
}

.bcg-image {
  display: block;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  @include m(height, fh);
}

.loading-logo {
  align-self: center;
}

.ws_description_header {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 10px;
}

.ws-description {
  .ws-description__header {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 10px;
  }

  ul {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 14px;

    @include mq-portable {
      font-size: 15px;
      line-height: 26px
    }
  }
}

.swiper-pagination-bullet {
  background-color: $divider-color;
}

.swiper-pagination-bullet-active {
  background-color: $accent;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2027%2044%27%3E%3Cpath%20d%3D%27M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z%27%20fill%3D%27%23F26F21%27%2F%3E%3C%2Fsvg%3E");

  @include mq-portable {
    display: none;
  }
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2027%2044%27%3E%3Cpath%20d%3D%27M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z%27%20fill%3D%27%23F26F21%27%2F%3E%3C%2Fsvg%3E");

  @include mq-portable {
    display: none;
  }
}

.swiper-slide {

  text-align: center;
  font-size: 18px;
  background: $background-primary;


  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}






