@import "../../../styles/imports";

.wrapper {
  align-self:stretch;
  flex:0 0 auto;

  background-color: $background-inversed;

  display:flex;

  justify-content: center;
  align-items: stretch;
}

.body_footer {
  display: flex;
  width:100%;
  max-width:$max-page-width;
  flex: 0 0 auto;
  box-sizing: border-box;
  color: white;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 46px 3% 25px;

  @include mq-gt-md {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 37px 3% 65px;
  }



  a, a:visited {
    color: white;
  }



  .footer_item {

    overflow: hidden;
    flex: 0 0 auto;
    @include mq-gt-md {
      flex: 0 0 29%;
    }

    .footer_header {
      font-size: 17px;
      line-height: 17px;
      padding: 0 12px 7px;
      border-bottom: 1px solid white;
      margin: 0;
      padding: 0 14px 5px;
      @include mq-gt-md {
        padding: 0 18px 5px;
      }
    }

    .footer_paragraph {

      font-size: 13px;
      line-height: 19px;
      //display: flex;
      //flex-direction: column;
      white-space: pre-line;
      padding: 13px 14px 23px;
      @include mq-md {
        padding: 13px 69px 23px;
      }
      @include mq-gt-md {
        padding: 14px 12px 0;
      }
    }
  }
}



