@import "../../../styles/imports";

.container {
  @include pageContentContainer();
  display: flex;
  flex-direction: column;
  width:100%;
}

.ws_image {
  //@include m(height, 511px, null, 424px, 254px);
  @include m(height, fh);
}

.ws_step_1_container {
  display: flex;
  flex-direction: column;
  @include layout-vertical-padding();
  @include mq-property(padding-top, 30px, null, 14px, null);
}

.ws_accent_line {

  @include mq-property(width, 30px, null, null, 15px);
}

.ws_header {
  margin: 14px 0 9px 30px;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;

  @include mq-portable {
    margin: 9px 0 0px 30px;
    font-size: 20px;
    line-height: 26px;
  }
  @include mq-smartphone {
    margin-left: 15px;
  }

  text-transform: uppercase;
}

.ws_subheader {
  margin: 0 0 24px 30px;
  font-weight: 300;
  font-size: 32px;
  line-height: 1;

  @include mq-portable {
    margin: 0 0 18px 30px;
    font-size: 30px;
    line-height: 36px;
  }

  @include mq-smartphone {
    margin-left: 15px;
  }

  text-transform: uppercase;
}

.ws_intro {
  font-weight: 300;
  font-size: 22px;
  line-height: 22px;
  margin: 0 0 68px 30px;
  @include mq-portable {
    font-size: 20px;
  }

  @include mq-smartphone {
    margin-left: 15px;
  }
}



.ws_box_container {
  display: flex;
  flex-direction: row;

  @include mq-portable {
    flex-direction: column;
  }
}

.ws_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;

  @include mq-portable {
    margin: 0 109px;
  }

  @include mq-smartphone {
    margin: 0 12px;
  }

  flex: 1 1 auto;
  position: relative;
  /*&:last-child {
      margin-right:15px;
  }*/
  .ws_box_icon {
    height: 104px;
    margin: 42px 0 36px;
  }

  .ws_box_title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    white-space: normal;
    text-align: center;
    padding-bottom: 90px;

    @include mq-portable {
      font-size: 20px;
      line-height: 25px;
      padding-bottom: 81px;
    }

    @include mq-portable {
      font-size: 18px;
      line-height: 25px;
      padding-bottom: 81px;
    }
  }

  .ws_box_bottom_accent {
    position: absolute;
    left: calc(50% - 72px);
    bottom: 61px;
    width: 144px;
    height: 1px;
    border-bottom: 1px solid $accent;
  }
}

.ws_step_2_container {
  display: flex;
  flex-direction: column;
  background-color: $background-subtle;
  @include layout-vertical-padding();
  @include mq-property(padding-top, 32px, null, 14px, null);
}
