//portable
$layout-breakpoint-xs:     480px !default;
$layout-breakpoint-sm:     768px !default;

// desktop
$layout-breakpoint-md:     1024px !default;
$layout-breakpoint-lg:     1366px !default;
$layout-breakpoint-xl:     1920px !default;
