@import "../../../styles/imports";

.about_container {
  @include pageContentContainer();

  .about_image {
    //height: 511px;
    //
    //@include mq-portable {
    //  height: 424px;
    //}
    @include m(height, fh);
  }

  .about_text_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include layout-vertical-padding();

    @include mq-portable {
      flex-direction: column;
      justify-content: flex-start;
    }

    .about_text_container {
      &.about_text_container_small {
        flex: 0 0 45%;

        @include mq-portable {
          flex: 0 1 auto;
        }
      }

      display: flex;
      flex-direction: column;

      .about_text_header {
        flex: 0 0 auto;

        @include mq-property(margin, 47px 0, null, 44px 0 38px, null);
        @include mq-property(padding-left, 97px, null, null, 48px);
        display: block;
        position: relative;

        @include mq-property(font-size, 32px, null, 28px, null);
        @include mq-property(line-height, 36px, null, 30px, null);
        white-space: normal;
        overflow: hidden;
        font-weight: 300;
        text-transform: uppercase;
      }

      .about_line {
        border-bottom: 1px solid $primary;
        display: block;
        position: absolute;
        @include mq-property(bottom, 6px, null, 4px);
        left: 0;
        @include mq-property(width, 86px, null, null, 43px);
      }

      .about_text_paragraph {
        font-weight: 300;
        @include mq-property(font-size, 17px, null, 15px, null);
        @include mq-property(line-height, 28px, null, 25px, null);
        margin: 0;
        @include mq-property(margin-bottom, 83px, null, 66px, null);
      }
    }
  }

  .about_text_group.about_text_group_full {
    @include mq-property(margin-top, 60px, null, 42px, null);
    .about_text_container {



      .about_text_header {
        font-weight: 700;

        @include mq-property(font-size, 24px, null, 22px, null);
        @include mq-property(line-height, 38px, null, 34px, null);

        @include mq-property(padding, 0 24% 24px 0, null, 0 0 47px 0, null);
        text-transform: none;

        .about_line {
          width: 24%;
          right: 0;
          left: unset;
          bottom: 0;

          @include mq-portable {
            display: none;
          }
        }
      }

      .about_text_paragraph {
        @include mq-property(margin-top, 30px, null, 0, null);
        @include mq-property(padding-right, 24%, null, 0, null);
        font-weight: 300;
        font-size: 17px;
        line-height: 28px;
        @include mq-property(font-size, 17px, null, 15px, null);
        @include mq-property(line-height, 28px, null, 26px, null);
        @include mq-property(margin-bottom, 59px, null, 38px, null);
      }
    }
  }

}
