@import "../../../styles/imports";

.container {
  * {
    // border: 1px dotted grey;
    box-sizing: border-box;
  }
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  width:100%;

  @include pageContentContainer;
}

.header_image {
  align-self: center;

  //height: 400px;
  //@include mq-property(height, 400px, null, 230px, 140px);
  @include m(height, fh);
}

.top_divider_container {

  display: flex;
  flex-basis: 88px;

  @include mq-property(display, flex, flex, none, none);

  align-items: center;
  justify-content: center;

  .top_divider_logo {
    margin: 16px 0.8% 0;
    width: 300px;
    svg {
      fill: $primary;
      height: 72px;
    }

    @include mq-laptop-xl {
      margin-left: 4%;
      margin-right: 4%;
    }

    @include mq-laptop {
      margin-top: 10px;
      svg {
        height: 62px;
      }
    }

  }

  .top_divider_arrow {
    display: block;
    width: 12%;
    height: 25px;
    border: 1px solid black;
    margin-top: 10px;
    max-width: 150px;
  }

  .top_divider_arrow_left {
    border-bottom-width: 0;
    border-right-width: 0;
  }

  .top_divider_arrow_right {
    border-bottom-width: 0;
    border-left-width: 0;
  }
}

.bottom_divider_container {
  @include layout-vertical-padding();
  display: flex;

  justify-content: center;

  .bottom_divider_link {
    margin: 53px 0 62px;

    font-size: 31px;
    line-height: 31px;
    font-weight: 500;
    text-transform: uppercase;

    @include mq-portable {
      margin: 10px 0;
      padding: 19px 0 17px;
      border: 1px solid $accent;
      width: 100%;
      text-align: center;

    }

    @include mq-smartphone {
      font-size: 18px;
      line-height: 18px;
    }

    &:link, &:visited {
      color: $primary;
    }

  }

  .bottom_divider_arrow {
    display: block;
    width: 12%;
    height: 25px;
    border: 1px solid black;
    margin-top: 82px;
    position: relative;
    max-width: 150px;
    @include mq-property(display, block, null, none, null);
  }

  .bottom_divider_arrow_left {
    border-top-width: 0;
    border-right-width: 0;
    left: 50px;
  }

  .bottom_divider_arrow_right {
    border-top-width: 0;
    border-left-width: 0;
    right: 50px;
  }
}

.articles_container {
  @include layout-vertical-padding();
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  @include mq-portable {
    flex-direction: column;
    justify-content: flex-start;

  }

  .articles_article {
    flex: 0 1 49%;

    @include mq-portable {
      flex: 0 0 auto;
    }

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    .articles_header {
      font-size: 25px;
      line-height: 25px;

      font-weight: 300;
      text-transform: uppercase;
      text-align: center;

      @include mq-portable {
        padding-top: 12px;
        margin-top: 12px;
        font-size: 23px;
        line-height: 23px;
        border-top: 1px solid $primary;

      }
    }
    .articles_image {
      @include mq-property(margin-top, 30px, null, 10px, null);
      @include mq-property(height, 250px, null, 250px, 160px);

    }

    .articles_background {
      padding: 0 34px 28px;
      @include mq-portable {
        padding: 0 20px 22px;
      }

      background-color: $primary;
      color: white;
      flex-grow: 1;

      display: flex;
      flex-direction: column;

      .articles_intro {
        margin: 0;
        @include mq-property(margin-top, 31px, null, 24px, null);

        font-size: 16px;
        font-weight: 700;
        line-height: 25px;

        text-transform: uppercase;

        @include mq-portable {
          font-size: 14px;
          line-height: 25px;
        }
      }

      .articles_content {
        margin: 0;
        @include mq-property(margin-top, 24px, null, 17px, null);
        flex-grow: 1;

        font-size: 15px;
        font-weight: 300;
        line-height: 26px;

        @include mq-portable {
          font-size: 13px;
          line-height: 24px;
        }
      }
      .articles_link {
        @include mq-property(margin-top, 34px, null, 23px, null);
        align-self: center;
        width: 260px;
        padding: 17px 0 14px;
        background-color: white;
        color: $primary;

        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        text-align: center;

      }
    }

  }

}

.westa_description_container {
  @include layout-vertical-padding();
  background-color: $accent;
  .westa_description_article {
    margin: 82px 112px 86px;

    font-weight: 300;
    font-size: 17px;
    line-height: 26px;
    color: $westa-white;

    @include mq-portable {
      font-size: 13px;
      line-height: 24px;
      margin: 35px 21px 43px;
    }

  }
}

