@import "../../../styles/imports";

.contact_container {
  @include pageContentContainer();
  display:block;
  align-self:stretch;

  @include mq-property(padding-top, 47px, null, 27px);
  .contact_header {

    font-weight: 300;
    margin: 0;
    padding: 0;
    text-transform: uppercase;

    font-size: 23px;
    line-height: 23px;
    margin-bottom: 42px;
    @include mq-portable {
      font-size: 21px;
      line-height: 21px;
      margin-bottom: 35px;
    }
  }

  .contact_text {
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 42px;

    @include mq-portable {
      font-size: 15px;
      line-height: 26px;
      margin-bottom: 35px;
    }
  }

  p {
    white-space: pre-line;
  }

  .contact_info_container {
    @include layout-vertical-padding();
    display: flex;
    flex-direction: row;
    margin-bottom: 44px;

    @include mq-portable {
      flex-direction: column;
    }

    .company_info_container {
      display: flex;
      flex-direction: column;
      margin-right: 185px;
      @include mq-portable {
        margin-right: 0;
        margin-bottom: 44px;
      }

    }

    .company_info_email {
      margin-bottom: 0;
    }

    .perimeter_info_container {
      display: flex;
      flex-direction: column;
    }

    .perimeter_info_header {

    }
  }

  .contact_form_container {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    @include layout-vertical-padding();
    @include mq-property(padding-bottom, 55px);

    position: relative;

    .field_validation_error {
      color: $accent;
    }

  }

  .contact_form_header {
    font-weight: 300;
    font-size: 23px;
    margin-bottom: 7px;
    text-transform: uppercase;
  }

  .contact_form_field_container {
    display: flex;
    flex-direction: column;
  }

  .contact_form_text_input {
    box-sizing: border-box;
    font-weight: 300;
    border: 1px solid $divider-color;
    border-width: 0 0 1px 0;

    background-color: transparent;

    @include placeholder {
      color: lighten($gray-dark, 20%);

    }

    &.input_validation_error {
      @include placeholder {
        color: $accent;
      }
      color: $accent;
    }

    outline: none;

    &:focus {
      //box-shadow: 0 0 5px $accent;
      border: 1px solid $accent;
    }

    font-size: 17px;
    line-height: 17px;
    width: 50%;
    padding: 13px 0 13px 23px;
    margin-top: 12px;

    @include mq-portable {
      font-size: 15px;
      line-height: 15px;
      width: 100%;
      padding: 12px 0 12px 11px;
      margin-top: 8px;
    }
  }
  .contact_form_textarea_input {
    border: 1px solid $divider-color;
    width: 100%;
    height: 300px;
    padding: 21px 23px;
    margin: 38px 0;

    @include mq-portable {
      padding: 21px 11px;
      margin: 30px 0;
    }

  }

  .contact_form_send_button {
    background-color: $accent;
    align-self: center;

    font-weight: 500;
    font-size: 14px;
    padding: 16px 0;
    width: 257px;
    color: $westa-white;
    text-transform: uppercase;
  }

  .contact_form_send_succeeded_message {
    color: $accent;
    font-size: 19px;
    font-weight: 500;
    padding: 16px;
    text-align: center;
  }

  .contact_form_loading_overlay {
    position: absolute;
    top: -16px;
    bottom: -16px;
    left: -16px;
    right: -16px;
    background-color: rgba($divider-color, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
  }

}
