@import "../../../styles/imports";

.wrapper {
  display: flex;

  width: 100%;
  position: fixed;
  z-index: 9999;

  box-shadow: 0 1px 12px -3px rgba(0,0,0,0.75);

  background-color: $background-primary;

  justify-content: center;
}

.bar {
  width: 100%;
  max-width:$max-page-width;
  @include layout-vertical-padding;
  height: 80px;

  @include mq-laptop {
    height: 66px;
  }

  @include mq-portable {
    justify-content: center;
    height: 54px;
  }



}

.link_container {
  padding: 38px 0 31px;
  @include mq-laptop {
    padding: 31px 0 20px;
  }

  @include mq-portable {
    display: none;
  }


}

.link_item {
  padding: 0 8px;
  text-transform: uppercase;
  color: $primary;
  font-size: 15px;
  font-weight: 500;



  @include mq-laptop {
    font-size: 13px;
    line-height: 13px;
    padding: 0 6px;

  }

  &:link, &:visited {
    color: $primary;

    &.link_active {
      color: $accent;
    }
  }

  text-decoration: none;
}

.logo {
  $westa-logo-ratio: 2.297619047619048;
  width: 100px;
  align-self:flex-start;

  &.logo-active {
    @include mq-gt-md {
      svg {
        fill: $accent;
      }
    }
  }

  svg {
    $westa-logo-height: 49px;
    $westa-logo-width: $westa-logo-height * $westa-logo-ratio;
    height: $westa-logo-height;
    width: $westa-logo-width;
    margin-top: 15px;
    fill:$primary;
    //width: auto;
    @include mq-laptop {
      margin-top: 12px;
      $westa-logo-height: 40px;
      $westa-logo-width: $westa-logo-height * $westa-logo-ratio;
      height: $westa-logo-height;
      width: $westa-logo-width;
    }

    @include mq-portable {
      margin-top: 8px;
      $westa-logo-height: 39px;
      $westa-logo-width: $westa-logo-height * $westa-logo-ratio;
      height: $westa-logo-height;
      width: $westa-logo-width;
    }
  }
}

.button_menu {
  z-index: 2;

  visibility: collapse;
  position: absolute;
  left: 0;
  top: 0;
  width: 54px;
  height: 54px;
  background-color: $accent !important;

  @include mq-portable {
    visibility: visible;
  }

  svg {
    width: 30px;
    height: 30px;
    stroke: white;
    fill: white;
  }

}