@import "../../../styles/imports";

.wrapper {
  background-color: $gray-light;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  opacity:0.75;
}


.enter {
  opacity: 0;
}

.enter_active {
  opacity: 0.75;
  transition: 100ms 10ms ease-in;
}

.leave {
  opacity: 0.75;
}

.leave_active {
  opacity: 0;
  transition: 400ms 10ms ease-in;
}