@import "../../../styles/imports";

.enter {
    transform: translateX(-100%);
}

.enter_active {
  transform: translateX(0);
  transition:400ms 10ms ease-in-out;

}

.leave {
  transform: translateX(0);
}

.leave_active {
  transform: translateX(-100%);
  transition: 100ms 10ms ease-in-out;

}

.drawer {
  background-color: $background-primary;
  color: $primary;
  padding: 34px 44px 32px;

  overflow-y: auto;

  width: 320px;
  max-width: 100%;
  position: fixed;

  height: calc(100vh - 80px);
  top: 80px;

  @include mq-laptop {
    top: 66px;
    height: calc(100vh - 66px);
  }

  @include mq-portable {
    top: 54px;
    height: calc(100vh - 54px);
  }

  left: 0;
  right: auto;
  bottom: auto;
  z-index: 51;
}

.link_list {
  margin-bottom: 32px;
}

.link_item {
  padding: 15px 0 15px 25px;
  border-bottom: 1px solid $primary;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: $primary;

  &.link_active {
    color: $accent;
  }

  &:last-child {
    border-bottom-width: 0;
  }
}

.contact_block {
  padding: 18px 0 17px 5px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  border: 1px solid $primary;
  border-width: 1px 0;

}

.info_email {
  margin-bottom: 8px;
}

﻿.side_menu_content {
}

.side_menu_contact-block {
  flex: 0 0 auto;

  display: flex;
  flex-direction: column;
  padding: 18px 0 17px 5px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  border: 1px solid $primary;
  border-width: 1px 0;

}

.side_menu_info-email {
  margin-bottom: 8px;
}
