﻿@import "_imports.scss";

//@import url("//hello.myfonts.net/count/310252");
.text-h1 {
  @include text-h1();
}

.text-h2 {
  @include text-h2();
}

.text-wrapper-h2 {
  @include text-wrapper-h2();
}

.text-h3 {
  @include text-h3();
}
.text-wrapper-h3 {
  @include text-wrapper-h3();
}

.text-p {
  @include text-p();
}
.text-wrapper-p {
  @include text-wrapper-p();
}

.text-error {
  color: red;
}

