﻿//@import url("//hello.myfonts.net/count/310252");


//@include font-face("montserrat", "./assets/webfonts/montserrat-hairline", $fw-thin);
//@include font-face("montserrat", "./assets/webfonts/montserrat-ultralight", $fw-extra-light);
//@include font-face("montserrat", "./assets/webfonts/montserrat-light", $fw-light);
//@include font-face("montserrat", "./assets/webfonts/montserrat-regular", $fw-normal);
//@include font-face("montserrat", "./assets/webfonts/montserrat-semibold", $fw-semi-bold);
//@include font-face("montserrat", "./assets/webfonts/montserrat-bold", $fw-bold);
//@include font-face("montserrat", "./assets/webfonts/montserrat-extrabold", $fw-extra-bold);
//@include font-face("montserrat", "./assets/webfonts/montserrat-black", $fw-black);
//@include font-face("aileron", "./assets/webfonts/aileron-light-webfont", $fw-light);
//@include font-face("aileron", "./assets/webfonts/aileron-regular-webfont", $fw-normal);


@include font-face("MuseoSans", "/assets/webfonts/310252_0_0", 600, normal);
@include font-face("MuseoSans", "/assets/webfonts/310252_0_0", 700, normal);
@include font-face("MuseoSans", "/assets/webfonts/310252_1_0", 300, normal);
@include font-face("MuseoSans", "/assets/webfonts/310252_2_0", 900, italic);
@include font-face("MuseoSans", "/assets/webfonts/310252_3_0", 500, normal);
@include font-face("MuseoSans", "/assets/webfonts/310252_4_0", 100, normal);
@include font-face("MuseoSans", "/assets/webfonts/310252_5_0", 700, italic);
@include font-face("MuseoSans", "/assets/webfonts/310252_6_0", 300, italic);
@include font-face("MuseoSans", "/assets/webfonts/310252_7_0", 100, italic);
@include font-face("MuseoSans", "/assets/webfonts/310252_8_0", 500, italic);
@include font-face("MuseoSans", "/assets/webfonts/310252_9_0", 900, normal);


/*
reści Strony
h1 – Aileron , Light, 27pt, 32pt
h2 – Montserrat, Semi Bold, 16pt, 23pt
h3 – Montserat, Regular, 17pt, 24pt
p – Montserat, Light, 14pt, 24pt

OBIEKTY
Obiekt h1 będzie później
Obiekt h2 to tekst h2 z marginesem górnym równym MT3 i marginesem dolnym MT1
Obiekt h3 to tekst h3 z marginesem górnym równym MT3 i marginesem dolnym MT2
Obiekt p to tekst p z marginesem górnym równym MT3 i marginesem dolnym MT1
*/

//@mixin font-style($font-size, $font-weight, $line-height:1, $transform:initial) {
//  font-size: $font-size;
//  font-weight: $font-weight;
//  line-height: $line-height;
//  text-transform: $transform;
//}


@mixin text-h1 {
  font-family: aileron, sans-serif;
  font-weight: $fw-light;
  //font-size: 27px;
  @include m(font-size, font-size-h1);
  line-height: 1.35;
}

@mixin text-h2 {
  font-family: montserrat, sans-serif;
  font-weight: $fw-semi-bold;
  @include m(font-size, font-size-h2);
  line-height: 23px;
}

@mixin text-page-name-1 {
  font-family: montserrat, sans-serif;
  font-weight: $fw-normal;
  @include m(font-size, font-size-page-name-1);
  line-height: 1.2;
}
@mixin text-page-name-2 {
  font-family: aileron, sans-serif;
  font-weight: $fw-light;
  @include m(font-size, font-size-page-name-2);
  line-height: 1.2;
}


@mixin text-wrapper-h2 {
  @include m(margin-top, mt3);
  @include m(margin-bottom, mt1);
}

@mixin text-h3 {
  font-family: montserrat, sans-serif;
  font-weight: $fw-normal;
  @include m(font-size, font-size-h3);
  line-height: 24px;
}

@mixin text-wrapper-h3 {
  @include m(margin-top, mt3);
  @include m(margin-bottom, mt2);
}

@mixin text-p {
  font-family: montserrat, sans-serif;
  font-weight: $fw-light;

  font-size: 14px;
  line-height: 22px;
  @include mq-gt-sm {
    line-height: 24px;
  }
}

@mixin text-wrapper-p {
  @include m(margin-top, mt3);
  @include m(margin-bottom, mt1);
}
