@import "imports";

$hamburger-padding-x: 15px;
$hamburger-padding-y: 15px;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 4px;
$hamburger-layer-spacing: 6px;
$hamburger-layer-color: $background-primary;
$hamburger-layer-border-radius: 0px;
$hamburger-hover-opacity: 1;
$hamburger-hover-transition-duration: 1s;
$hamburger-hover-transition-timing-function: linear;

@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers";


