@import "variables";
@import "utils";

@mixin pageHost() {
  position: absolute;
  top:0;left:0;bottom:0;top:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  height:100%;
  z-index:0;
  @include m(margin-top, h-top-menu);

}

@mixin pageContentContainer() {
  background-color: $gray-light;
  max-width:$max-page-width;
  flex:1 0 auto;
}
