﻿@import "layout/breakpoints";

$laptop-xl-min-width: 1920px !default;
$laptop-l-max-width: $laptop-xl-min-width - 1 !default;
$laptop-l-min-width: $layout-breakpoint-lg !default;

$laptop-max-width: $laptop-l-min-width - 1 !default;
$laptop-min-width: $layout-breakpoint-md !default;

$tablet-max-width: $laptop-min-width - 1 !default;
$tablet-min-width: $layout-breakpoint-sm !default;

$smartphone-max-width: $tablet-min-width - 1;

// 0 - 479
@mixin mq-xs {
  @media (max-width: #{$layout-breakpoint-xs - 1}) {
    @content;
  }
}

// 480 - ∞
@mixin mq-gt-xs {
  @media (min-width: #{$layout-breakpoint-xs}) {
    @content;
  }
}

// 480 - 767
@mixin mq-sm {
  @media (min-width: #{$layout-breakpoint-xs}) and (max-width: $layout-breakpoint-sm - 1) {
    @content;
  }
}

@mixin mq-gt-sm {
  @media (min-width: $layout-breakpoint-sm) {
    @content;
  }
}

@mixin mq-md {
  @media (min-width: #{$layout-breakpoint-sm}) and (max-width: $layout-breakpoint-md - 1) {
    @content;
  }
}

@mixin mq-gt-md {
  @media (min-width: $layout-breakpoint-md) {
    @content;
  }
}

@mixin mq-lg {
  @media (min-width: #{$layout-breakpoint-md}) and (max-width: $layout-breakpoint-lg - 1) {
    @content;
  }
}

@mixin mq-gt-lg {
  @media (min-width: $layout-breakpoint-lg) {
    @content;
  }
}

@mixin mq-xl {
  @media (min-width: #{$layout-breakpoint-lg}) and (max-width: $layout-breakpoint-xl - 1) {
    @content;
  }
}

@mixin mq-gt-xl {
  @media (min-width: $layout-breakpoint-xl) {
    @content;
  }
}

@mixin mq-smartphone {
  @include mq-xs {
    @content;
  }
}

@mixin mq-tablet {
  @include mq-sm {
    @content;
  }
}

@mixin mq-laptop {
  @include mq-md {
    @content;
  }
}

@mixin mq-laptop-l {
  @include mq-lg {
    @content;
  }
}

@mixin mq-laptop-xl {
  @include mq-xl {
    @content;
  }
}

@mixin mq-portable {
  @media (max-width: $layout-breakpoint-md - 1) {
    @content;
  }
}

@mixin mq-desktop {
  @media (min-width: $layout-breakpoint-md) {
    @content;
  }
}

