@import "variables";
@import "utils";






@mixin mq-propertyA($property, $name) {
  //@debug $name;
  $v: map-get($s, $name);
  // (lg: 54px, md: 43px, sm: 32px, xs: 27px)
  //@debug $v;

  $xl: map-get($v, xl);
  $lg: map-get($v, lg);
  $md: map-get($v, md);
  $sm: map-get($v, sm);
  $xs: map-get($v, xs);

  @include mq-property($property, $xl, $lg, $md, $sm, $xs);

}

@for $j from 1 through length($spacings-names) {

  $name: nth($spacings-names, $j);

  .mt#{$name} {
    @include mq-propertyA(margin-top, $name);
  }
  .mb#{$name} {
    @include mq-propertyA(margin-bottom, $name);
  }
  .ml#{$name} {
    @include mq-propertyA(margin-left, $name);
  }
  .mr#{$name} {
    @include mq-propertyA(margin-right, $name);
  }

  .mh#{$name} {
    @include mq-propertyA(margin-left, $name);
    @include mq-propertyA(margin-right, $name);
  }

  .mv#{$name} {
    @include mq-propertyA(margin-top, $name);
    @include mq-propertyA(margin-bottom, $name);
  }

  .pt#{$name} {
    @include mq-propertyA(padding-top, $name);
  }
  .pb#{$name} {
    @include mq-propertyA(padding-bottom, $name);
  }
  .pl#{$name} {
    @include mq-propertyA(padding-left, $name);
  }
  .pr#{$name} {
    @include mq-propertyA(padding-right, $name);
  }

  .ph#{$name} {
    @include mq-propertyA(padding-left, $name);
    @include mq-propertyA(padding-right, $name);
  }

  .pv#{$name} {
    @include mq-propertyA(padding-top, $name);
    @include mq-propertyA(padding-bottom, $name);
  }
}
