﻿@import "responsive-mixins";
@import "variables";
@import "../node_modules/bourbon/app/assets/stylesheets/bourbon";
//
//@function getVar($dimension-name, $screenSize) {
//  $v: map-get($s, $dimension-name);
//  @each $key in $v {
//    $map: map-get($v, $key);
//    @debug $key;
//  }
//  @return $v;
//
//
//}
//@debug 'reading';
//$test: getVar(font-size-page-name-1, xl);
//@debug $test;

@mixin m($property, $dimension-name, $screenSize: all) {

  $v: map-get($s, $dimension-name);
  // (lg: 54px, md: 43px, sm: 32px, xs: 27px)
 // @debug $v;

  $xl: map-get($v, xl);
  $lg: map-get($v, lg);
  $md: map-get($v, md);
  $sm: map-get($v, sm);
  $xs: map-get($v, xs);

  @if $screenSize == all {
    @include mq-property($property, $xl, $lg, $md, $sm, $xs);
  }
  @else if $screenSize == gt-sm {
    @include mq-property($property, $xl, $lg, $md, undefined, undefined);
  }
  @else if $screenSize == gt-md {
    @include mq-property($property, $xl, $lg, undefined, undefined, undefined);
  }
  @else if $screenSize == lt-md {
    @include mq-property($property, undefined, undefined, undefined, $sm, $xs);
  }
  @else {
    @error "screen size not supported";
  }
  //@else {
  //  $val: map-get($v, $screenSize);
  //  #{$property}: $val;
  //}

}

$padding-desktop: 6vw;
$passing-portable: 3vw;

@mixin page-wrapper-layout {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

@mixin responsive-image($height: auto) {
  max-width: 100%;
  height: auto;
  // height: $height;
}

@mixin mq-property($property, $val-xl, $val-lg: null, $val-md: null, $val-sm: null, $val-xs: null) {
  @if $val-lg == null {
    $val-lg: $val-xl;
  }

  @if $val-md == null {
    $val-md: $val-lg;
  }

  @if $val-sm == null {
    $val-sm: $val-md;
  }

  @if $val-xs == null {
    $val-xs: $val-sm;
  }

  @if $val-xl != undefined {
    @include mq-gt-lg {
      #{$property}: $val-xl;
    }
  }
  @if $val-lg != undefined {
    @include mq-lg {
      #{$property}: $val-lg;
    }
  }
  @if $val-md != undefined {
    @include mq-md {
      #{$property}: $val-md;
    }
  }
  @if $val-sm != undefined {
    @include mq-sm {
      #{$property}: $val-sm;
    }
  }

  @if $val-xs != undefined {
    @include mq-xs {
      #{$property}: $val-xs;
    }
  }
}



@mixin layout-vertical-padding {
  @include mq-gt-lg {
    @include padding(null 3%);
  }
  @include padding(null 3%);
}

@mixin layout-vertical-padding-left {
  @include mq-gt-lg {
    padding-left:9%;
  }
  padding-left: 3%;
}

@mixin layout-vertical-padding-right {
  @include mq-gt-lg {
    padding-right:9%;
  }
  padding-right: 3%;
}
