﻿/*

KOLORY
jasny szary: #FAFAFA
ciemny szary: #242730

TEKSTY
Banery
(te napisy na zdjęciu na każdej podstronie np. na case study jest ”case study” kreseczka ”artykuły”)
page_name_1 – jeszcze nie mam opisane
page_name–2 – jeszcze nie mam opisane



*/

//$spacings-lg: 54px, 40px, 15px, 3%, 4%, 8%, 27px, 15px, 9px;
//$spacings-lg: 54px, 40px, 15px, 3%, 4%, 8%, 27px, 15px, 9px;
//$spacings-md: 43px, 40px, 15px, 3%, 5%, 5%, 17px, 15px, 9px;
//$spacings-sm: 32px, 30px, 15px, 3%, 5%, 5%, 17px, 15px, 9px;
//$spacings-xs: 27px, 20px, 15px, 3%, 5%, 5%, 17px, 15px, 9px;

$spacings-names: 'h1', 'h2', 'h3', 'w1', 'w2', 'w3', 'font-size-h1', 'font-size-h2', 'font-size-h3';

$s: (
  h1: (xl: 54px, lg: 54px, md: 38px, sm: 32px, xs: 22px),
  h2: (xl: 40px, lg: 40px, md: 30px, sm: 30px, xs: 20px),
  h3: (xl: 15px, lg: 15px, md: 15px, sm: 15px, xs: 15px),
  w1: (xl: 3%, lg: 3%, md: 3%, sm: 3%, xs: 3%),
  w2: (xl: 4%, lg: 4%, md: 5%, sm: 5%, xs: 5%),
  w3: (xl: 8%, lg: 8%, md: 5%, sm: 5%, xs: 5%),
  font-size-h1: (xl: 27px, lg: 27px, md: 25px, sm: 21px, xs: 21px),
  font-size-h2: (xl: 16px, lg: 16px, md: 16px, sm: 16px, xs: 16px),
  font-size-h3: (xl: 17px, lg: 17px, md: 17px, sm: 17px, xs: 17px),
  mt1: (xl: 27px, lg: 27px, md: 17px, sm: 17px, xs: 17px),
  mt2: (xl: 15px, lg: 15px, md: 15px, sm: 15px, xs: 15px),
  mt3: (xl: 9px, lg: 9px, md: 9px, sm: 9px, xs: 9px),
  fh: (xl: 511px, lg: 511px, md: 424px, sm: 254px, xs: 254px),
  h-top-menu: (xl: 80px, lg: 80px, md: 54px, sm: 54px, xs: 54px),
  bottom-page-name: (xl: 97px, lg: 97px, md: 78px, sm: 55px, xs: 34px),
  h-form-textarea: (xl: 250px, lg: 200px, md: 180px, sm: 100px, xs: 100px),
  font-size-page-name-1:(xl:34px, lg:34px, md:34px, sm:20px, xs:20px),
  font-size-page-name-2:(xl:17px, lg:17px, md:17px, sm:12px, xs:12px)
);

//Wysokość Zdjęcia
//FH	500px	500px	350px	280px	210px

$fw-thin: 100;
$fw-extra-light: 200; //ultra-light
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;

$gray-light: #FAFAFA;
$gray-dark: #242730;
$error-color: red;

$max-page-width:1366px;

$westa-white: #FFFFFF;
$background-primary: #F9F9F9;
$background-subtle: #EAEAEA;
$background-inversed: #303738;
$accent: #F26F21;
$primary: #303738;
$divider-color: #A4ABAB;


