@import "../../../styles/imports";
.container {

}

.projekt_container {
  @include pageContentContainer();
  * {
    // border: 1px dotted grey;
    box-sizing: border-box;
  }

  display: flex;
  flex-direction: column;
  width:100%;


  .prj_header {
    position: relative;
    align-self: stretch;

    .prj_header_image {
      //@include mq-property(height, 500px, 500px, 375px, 220px, 135px);
      display:block;
      @include m(height, fh);
      width: 100%;

    }
    .prj_header_picture {
      //@include mq-property(height, 500px, 500px, 375px, 220px, 135px);
      //@include m(height, fh);
      width: 100%;

    }
    .prj_header_button_lustrzane_odbicie {
      position: absolute;
      color: white;

      bottom: 0;
      right: 8%;
      @include size(187px 35px);
      font-size: 14px;
      line-height: 14px;

      svg {
        @include size(22px);
        fill: white;

        @include mq-smartphone {
          @include size(19px);
        }
      }

      @include mq-smartphone {
        bottom: -32px;
        right: 0;
        @include size(134px 32px);
        font-size: 11px;
        line-height: 11px;

      }
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: $primary;
      font-weight: 700;
    }
  }

  .projekt_details_block {
    display: flex;
    @include mq-property(flex-direction, row, null, null, column);
    flex-wrap: nowrap;
    justify-content: space-between;

    @include mq-property(padding-top, 26px, null, null, 7px);
    @include layout-vertical-padding();

    .projekt_description {
      @include mq-property(flex-basis, 69%, null, 55%, auto);
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;

      @include mq-property(padding, 0 10px, null, 0 21px, 0 21px 14px);

      .project_field_name {
        flex: 0 1 auto;
        color: $accent;

        font-size: 29px;
        line-height: 29px;
        font-weight: 900;
        @include mq-property(padding, 0 6px 15px, null, 0 0 10px 0, null);

      }

      .project_field {
        flex: 0 1 auto;
        @include mq-portable {
          flex: 1 1 100%;
        }

        display: flex;
        .project_field_title {
          display: block;
          padding-top: 14px;
          font-size: 12px;
          line-height: 12px;
          font-weight: 300;
          flex-grow: 1;
        }

        .project_field_data {

          display: block;
          padding-top: 9px;
          font-size: 18px;
          line-height: 18px;
          font-weight: 500;
          color: $accent;
        }

      }

      .project_field_with_margin {
        margin-right: 6px;

        @include mq-portable {
          margin-right: 0;
        }
      }

      .project_field_divider {
        flex: 1 1 auto;
      }

      .project_field_description {
        flex: 1 1 100%;

        margin-top: 30px;

        font-weight: 300;

        font-size: 17px;
        line-height: 28px;

        @include mq-portable {
          font-size: 13px;
          line-height: 24px;
        }
      }
    }

    .rooms_info {
      @include mq-property(flex-basis, 29%, null, 43%, auto);
      @include mq-property(padding, 0 10px 0 47px, null, 0 21px 0 47px, 0 21px);

      display: flex;
      flex-direction: column;
      position: relative;

      .rooms_info_header {
        margin-bottom: 31px;
        font-size: 29px;
        line-height: 29px;
        font-weight: 700;

        @include mq-tablet {
          margin-bottom: 15px;
          font-size: 23px;
          line-height: 23px;
        }

        @include mq-smartphone {
          margin-bottom: 10px;
          font-size: 14px;
          line-height: 14px;
        }

      }

      .rooms_info_accent_line {
        position: absolute;
        @include mq-property(top, 42px, null, 27px, 17px);
        top: 42px;
        left: 0px;
        @include mq-property(height, 5px, null, 4px, null);
        @include mq-property(width, 34px, null, null, 21px);

      }

      .room_info_list {
        flex-grow: 1;

        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        @include mq-smartphone {
          border-bottom: 1px solid $divider-color;
        }
      }

      .rooms_info_title {
        flex: 1 1 50%;
        padding: 5px 0 7px;
        font-weight: 100;
        font-size: 16px;
        line-height: 16px;

        @include mq-tablet {
          padding: 4px 0 6px;
          font-size: 14px;
          line-height: 14px;
        }

        @include mq-smartphone {
          border-top: 1px solid $divider-color;
          padding: 4px 0 5px;
          font-size: 13px;
          line-height: 13px;
        }

      }

      .rooms_info_data {
        flex: 0 1 auto;
        text-align: end;

        padding: 5px 0 7px;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;

        @include mq-tablet {
          padding: 4px 0 6px;
          font-size: 14px;
          line-height: 14px;
        }

        @include mq-smartphone {
          border-top: 1px solid $divider-color;
          padding: 4px 0 5px;
          font-size: 13px;
          line-height: 13px;
        }
      }
    }

  }
  .document_links {
    display: flex;
    @include layout-vertical-padding();
    @include mq-property(margin-top, 30px, null, null, 28px);

    @include mq-property(justify-content, flex-start, null, null, space-between);

    .document_links_button {
      @include mq-property(margin-left, 10px, null, 21px, 0);
      display: flex;
      align-items: stretch;

      svg {
        @include size(60px);
        padding: 0 12px;
        background-color: $accent;
        fill: white;

        @include mq-smartphone {
          @include size(50px);
        }
      }
      > div {

        background-color: $primary;
        @include size(100px 60px);
        @include mq-smartphone {
          @include size(80px 50px);
        }
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          color: white;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 900;
          text-align: center;
          @include mq-smartphone {
            font-size: 11px;
          }
        }
      }
    }

  }

  .plan {
    margin-top: 30px;
    background-color: $background-subtle;
    padding: 70px 0;
    @include mq-property(padding, 70px 0 40px, null, 50px 0 40px, 28px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .plan_image {
      @include responsive-image();
    }

    .plan_description {
      @include mq-property(padding-top, 37px, null, 20px, 15px);
      align-self: flex-end;
      font-size: 14px;
      line-height: 14px;
      .plan_description_header {
        font-weight: 500;
      }

      .plan_description_content {
        font-weight: 100;
        text-transform: uppercase;
        padding-right: 22px;
      }
    }

  }

  .visualisations {
    @include mq-property(margin-bottom, 42px, null, null, 23px);
    @include layout-vertical-padding();
    display: flex;

    flex-direction: column;

    .visualisations_image {
      height:auto;
      width:100%;
      @include mq-property(margin-top, 42px, null, 17px, 12px);
    }

  }


}

.swiper_visualisations {
  @include mq-property(margin-bottom, 42px, null, null, 23px);
  @include layout-vertical-padding();

  .swiper_visualisations_image {
    height:auto;
    width:calc(100% - 54px - 60px);
    @include mq-portable {
      width:100%;
    }
    @include mq-property(margin-top, 42px, null, 17px, 12px);
  }

}
